
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
numpy==2.0.0
opencv-python==4.8.1.78
packaging==23.1
pandas==1.5.0
pywin32-ctypes==0.2.0
requests==2.28.1
streamlit==1.30.0
toml==0.10.2
zipp==3.17.0
